<script>
    let getURL = new URL(location.href);

    let searchTimeout = null;

    let version = {{ version }};

    let data = {{ data }};
</script>

<!DOCTYPE HTML>
<html lang="ru">
    <head>
    	<title>{{ cat }}</title>
        <meta charset="UTF-8"/>
        <meta name="description" content="{{ cat }}"/>
        <meta name="theme-color" content="#02162e"/>
        <link rel="icon" type="image/png" href="{{ icon }}"/>
        <link type="text/css" rel="stylesheet" href="template.css"/>
        <script type="text/javascript" src="template.js"></script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-G9Q1847V56"></script>
        <script>
            window.dataLayer = (window.dataLayer || []);
            
            function gtag() {
                dataLayer.push(arguments);
            }
            
            gtag("js", new Date());
            gtag("config", "G-G9Q1847V56");
        </script>
        <style>
            {{ style }}
        </style>
        <script>
        	{{ script }}
        </script>
    </head>
    <body>
        <div id="background"></div>
        <div id="zoom"></div>
        <div id="content">
            <table>
                <thead>
                    <tr>
                        <th colspan="100">
                            <label>
                                <input id="search" type="search" placeholder="Поиск (можно вводить несколько значений через запятую)"/>
                                <script>
                                    document.getElementById("search").addEventListener("input", (event) => {
                                        clearTimeout(searchTimeout);

                                        searchTimeout = setTimeout(() => {
                                            if (event["target"]["value"]) {
                                                getURL.searchParams.set("search", encodeURIComponent(event["target"]["value"]));

                                                history.pushState(null, null, getURL.href);
                                            } else {
                                                if (getURL.searchParams.has("search")) {
                                                    getURL.searchParams.delete("search");

                                                    history.pushState(null, null, getURL.href);
                                                }
                                            }

                                            createTable();
                                        }, 2000);
                                    });
                                </script>
                            </label>
                        </th>
                    </tr>
                    <tr>
                        <th colspan="100">
                            <span id="version">
                                <script>
                                    document.getElementById("version").innerText = "На данный момент списки созданы для версии игры " + version + ".";
                                </script>
                            </span>
                        </th>
                    </tr>
                    <tr id="thead"></tr>
                </thead>
                <tbody id="tbody">
                    <script>
                        if (document.readyState === "loading") {
                            document.addEventListener("DOMContentLoaded", () => {
                                createTable();
                            });
                        } else {
                            createTable();
                        }
                    </script>
                </tbody>
            </table>
            <div id="loading">Загрузка...</div>
        </div>
    </body>
</html>
